@page "{id:int}"
@model AdminPanel.Pages.EditProductModel

<h2>Edytuj Produkt</h2>

<form method="post">
    <input type="hidden" asp-for="Product.Id" />

    <label for="name">Nazwa Produktu:</label>
    <input type="text" id="name" asp-for="Product.Name"/>

    <label for="value">Wartość:</label>
    <input type="text" id="value" asp-for="Product.Value" />

    <label for="weight">Waga:</label>
    <input type="text" id="weight" asp-for="Product.Weight" />

    <label for="expireDate">Data ważności:</label>
    <input type="date" id="expireDate" asp-for="Product.ExpireDate" />

    <label for="typeOfDetention">Typ Zatrzymania:</label>
    <select id="typeOfDetention" asp-for="Product.TypeOfDetention">
        <option value="Normal">Normal</option>
        <option value="Cold">Cold</option>
        <option value="Freezer">Freezer</option>
    </select>

    <label for="typeOfProduct">Typ Produktu:</label>
    <select id="typeOfProduct" asp-for="Product.TypeOfProduct">
        <option value="Food">Food</option>
        <option value="Electronics">Electronics</option>
        <option value="Clothes">Clothes</option>
    </select>

    <label for="shelfId">Regał:</label>
    <select id="shelfId" asp-for="Product.ShelfId">
        @foreach (var shelf in Model.Shelves)
        {
            <option value="@shelf.Id">@shelf.Id</option>
        }
    </select>

    <button type="submit">Zapisz</button>
</form>
